#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws

*.class
*.info
*.properties
*.jar
*.txt


/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/2.JavaCore/src/Mynewproject/
/8.Games/
